/* AboutMe.css */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background: linear-gradient(to right, #bdb9a7, #f5d5af);
}

.card {
  display: flex;
  width: 80%;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 4px 6px rgba(20, 7, 7, 0.1);
  transition: box-shadow 0.3s ease;
  width: 650px;
  height: 350px;
  overflow: hidden;
  /* Prevent shadow clipping with rounded corners */
  border-radius: 10px;
  padding: 40px;
  
}

.card:hover {
  box-shadow: 0 15px 15px rgba(2, 1, 1, 0.2);
}

.left {
  flex: 1;
}

.right {
  flex: 2;
  margin-left: 45px;
  text-align: justify;
  line-height: 1.6;
  font-size: 0.9rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.right h2 {
  font-size: 1.6rem;
  text-align: center;
  color: #333;
  /* Adjust heading color */
  transition: color 0.3s ease;
}

.right p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
  word-spacing: 1px;
  letter-spacing: 1.2px;
  font-weight: 500;
  color: #555;
  /* Adjust paragraph text color */
  transition: color 0.3s ease;
}

.right h3 {
  color: #444;
  /* Adjust subheading color */
  transition: color 0.3s ease;
}

.left img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  /* Add a subtle border radius to the image */
}

.skillsetcolumn
{
 margin-top: 7px;
}

.toolsetcolumn {
  margin-top: 10px;
}

.hobbies {
  margin-top: 10px;
}